body {
background-color: darkgray;
}

h1 {
color: darkred;
text-align: center;
font-size: 36px;
}

h2 {
color:darkred;
font-size: 24px;
text-align: center;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: gray;
}
li {
float: left;
}
li a {
display:block;
width: 150px;
text-decoration: none;
background-color: gray;
color: black;
text-align: center;
padding: 8px;
font-family: Georgia;
font-size: 24px;
}


li a.active {
background-color: darkred;
color: white;
}

li a:hover:not(.active){
background-color: #AA0000;
color:white;
}

img {
border-style: solid;
border-width: 6px;
border-color: darkred;
border-radius: 5px;
margin: 0px 10px;
}

p {
font-family: Garamond, Georgia, sans-serif;
font-size: 18px;
max-width: 34em;
margin-left: auto;
margin-right: auto;
line-height: 1.5em;
margin-bottom: 2em;
word-spacing: 0.16em;
}

a {
font-family: Garamond, Georgia, sans-serif;
font-size: 18px;
color: darkred;
}


.piclink {
align-self: flex-start;
}

.bio {
}

.header{
background-color: darkred;
padding: 1px;
border-color: black;
}

.header p{
font-size: 46px;
font-family: serif;
text-align: center;
margin-left: auto;
margin-right: auto;
color:lightgray;
}

.button {
background-color:darkred;
color:white;
padding: 5px 15px;
margins: auto;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 24px;
border-radius: 10px;
}

div.vidgallery {
margin: 5px;
float: left;
width: 560px;
}

div.desc {
padding: 14px;
text-align: center;
font-size: 18px;
}
div.audiorec {
clear:both;
padding: 10px;
text-align: center;
}

.research {
padding: 30px 100px;
}

.flex-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer {
padding: 1px;
text-size: 12px;
margin-top: 20px;
background-color:darkred;
color:lightgray;
text-align: center;
}

