body {
background-color: #EDEDED;
}

h1 {
color: #750000;
text-align: center;
font-size: 36px;
}

h2 {
color:#750000;
font-size: 24px;
text-align: center;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: gray;
}
li {
float: left;
}
li a {
display:block;
width: 150px;
text-decoration: none;
background-color: gray;
color: black;
text-align: center;
padding: 8px;
font-family: Georgia;
font-size: 24px;
}


li a.active {
background-color: #750000;
color: #EDEDED;
}

li a:hover:not(.active){
background-color: #CC0000;
color:#EDEDED;
}

img {
border-style: solid;
border-width: 6px;
border-color: #750000;
border-radius: 5px;
margin: 0px 10px;
}

p {
font-family: sans-serif;
font-size: 18px;
max-width: 34em;
margin-left: auto;
margin-right: auto;
line-height: 1.5em;
margin-bottom: 2em;
word-spacing: 0.16em;
}

a {
font-family: sans-serif;
font-size: 18px;
color: #750000;
}
a:hover {
color: #CC0000;
}

.piclink {
align-self: flex-start;
}

.bio {
}

.header{
background-color: #750000;
padding: 1px;
border-color: black;
}

.header p{
font-size: 46px;
font-family: serif;
text-align: center;
margin-left: auto;
margin-right: auto;
color:lightgray;
}

.button {
background-color:#750000;
color:#EDEDED;
padding: 5px 15px;
margins: auto;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 24px;
border-radius: 10px;
}
.button:hover {
background-color:#AA0000;
color: #EDEDED;
}

div.vidgallery {
margin: 5px;
float: left;
width: 560px;
}

div.desc {
padding: 14px;
text-align: center;
font-size: 18px;
}
div.audiorec {
clear:both;
padding: 10px;
text-align: center;
}

.research {
padding: 30px 100px;
}

.flex-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.footer {
padding: 1px;
text-size: 12px;
margin-top: 20px;
background-color:#750000;
color:lightgray;
text-align: center;
}
label {
font-size:18px;
}
form {
max-width: 34em;
margin: auto;
}

input[type=text], select {
width: 100%;
padding:12px 20px;
margin:8px 0;
display:inline-block;
border-radius: 4px;
border: 1px solid #ccc;
box-sizing:border-box;
font-size:18px;
}
input[type=email], select {
width: 100%;
padding:12px 20px;
margin:8px 0;
display:inline-block;
border-radius: 4px;
border: 1px solid #ccc;
box-sizing:border-box;
font-size:18px;
}
textarea {
width: 100%;
padding:12px 20px;
margin:8px 0;
display: inline-block;
border-radius: 4px;
border: 1px solid #ccc;
box-sizing:border-box;
font-size:18px;
}
input[type=submit] {
  background-color: #750000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  
}

input[type=submit]:hover {
  background-color: #AA0000;
}

@media screen and (max-width: 800px), screen and (max-device-width:800px) {
  .flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .piclink {
      margin-left: auto;
      margin-right: auto;
  }
  p {
      font-size: 24px;
      line-height: 2em;
      word-spacing: 0.26em;
  }
  a {
      font-size: 24px;
  }
  div.desc {
      font-size: 24px;
  }
  h2 {
      font-size: 30px;
  }
  li a {
      font-size: 30px;
      width: 150px;
  }
  input[type=text] {
      font-size: 24px;
  }
  input[type=submit] {
      font-size: 24px;
      }
  input[type=email] {
      font-size: 24px;
  }
  label {
      font-size: 24px;
  }
  textarea {
      font-size: 24px;
  }
}



